body {
    margin: 0px;
    width: 100%;
    padding: 0px;
  }
  
  .nav {
    height: 20px;
    padding-top: 1%;
    padding-left: 90%;
  }
  
  .nav-link {
    margin-right: 20px;
    display: inline-block;
  }

  body {
    margin: 0px;
    padding: 0px;
  }
  
  .nav {
    padding: 5px;
    height: 30px;
    text-align: right;
  }
  
  a {
    color: rgb(104, 104, 104);
  }
  
  .icon {
    color: darkgrey;
  }
  
  .main-content {
    width: 100vw;
    height: 40vh;
  }
  
  img {
    margin-top: 5%;
    
  }

  #sear {
    width : 20px;
    height : 20px;
    position: relative;
    left: 360px;
    color: darkgrey;
  }

  #mic {
    width : 30px;
    height: 30px;
    position: relative;
    left: -70px;
    bottom: -10px;
  }


  
  input {
    width: 55%;
    margin-left: 20%;
    border-radius: 20px;
    display: inline-block;
  }
  
  .button-container {
    padding-left: 40%;
  }
  
  button {
    height: 50px;
    width: 150px;
    border-radius: 10px;
    position: center;
  }
  
  button:hover {
    border: 1px solid lightgrey;
    cursor: pointer;
  }
  
  
  img:hover {
    cursor: pointer;
  }

  #search {
    height: 40px;
  }
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .foot {
    background :#DDDCDC;
    position:absolute;
    bottom:0;
    width:100%;
    height:65px;  
  }
  
  .foot-link {
    margin-left: 20px;
    display: inline-block;
  }
  .foot-link2 {
    margin-left: 20px;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
  }